body {
    background-color: rgb(37, 37, 38);
}
.fade:not(.show) {
    opacity: 1;
}
.hide {
    display: none;
}
.row {
    margin: 0;
}
.main-header {
    background-color: #FFF;
    padding: 5px 0px;
}
.home-container {
    min-height: 90vh;
    background-color: #f8f8f8;
}
.home-container .banner-container{
    position: relative;
    background: url('assets/cl-blog-banner.png') ;
    min-height: 440px;
    width: 100%;
}
.home-container .heading {
    position: absolute;
    top: 110px;
    left: 80px;
    color: #3c3c3c;
}
.home-container .sub-heading {
    font-weight: 500;
}
.home-container .bottom-home-container .btn-container {
    text-align: center;
    margin-top: 10px;
}
.editor-header {
    background-color: #252526;
}
.editor-header .title {
    color: #828282;
    font-size: 14px;
    line-height: 30px;
    min-width: 95px;
    font-size: 12px;
}
.editor-header .header-icon {
    color: #828282;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
.editor-header .header-icon .fa-play {
    color: #007bff;
}

input.name-control {
    color: #828282;
    width: 95px;
    font-size: 12px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #828282;
}

.editor-container {
    height: 90vh;
    /* border: 1px solid #CCC; */
    background-color: #1e1e1e;
}
.hidden {
    display: none;
}
.editor-code-container  {
    position: relative;
    overflow: auto;
    align-items: stretch;
    display: flex;
}
.editor-code-container .form-control {
    border: none;
    /* border-top: 1px solid #CCC ; */
    margin-top: 5px;
    background-color: #1e1e1e;
    color:#CCC;
    outline: none;
    resize: none;
    font-size: 12px;
    width:calc(100% - 30px);

}
.editor-code-container .form-control:focus {
    box-shadow: none;
}

.editor-code-container::before{
    /* content: attr(data-line);
    background-color: black;
    color: white;
    white-space: pre;
    width: 30px; */
    /* white-space: pre;
    display: inline-block;
    text-align: center;
    background: rgb(37, 37, 38);
    color: #CCC;
    position: absolute;
    width: 20px;
    font-size: 12px;
    padding-top: 5px; */
}
.iframe-code {
    border: none;
    border-left: 1px solid #CCC;
    background-color: #CCC;
    width: 100%;
    height: 100%;
}
.btn {
    border-radius: 0px;
}
.editor-element-container {
    margin-top: 10px;
    width: 97%;
}

/* Loader */
.default-container {
    position: relative;
}
.loader-container {
    color: #828282;
    font-size: 13px;
    line-height: 30px;
  
}

/* end loader */

.customModal.show {
    position: absolute;
    z-index: 99;
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
}
.customModal.show .modalDialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #FFF;
    padding: 10px;
    border-radius: 5px;
    min-width: 50%;
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
}
.customModal.show .modalDialog .modalHead .closeSpan {
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 99;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
}
.customModal.show .modalDialog.lg {
    width: 80%;
}
.customModal.show .modalDialog.sm {
    width: 30%;
}
.sign-in-container .first-coloum {
    border-right: 1px solid #CCC;
}

.sign-in-container .nav-tabs li a {
    padding: 10px 20px;
    background-color: #252526;
    color: #FFF;
    margin: 5px 0;
    text-decoration: none;
    display: block;
}
.sign-in-container .nav-tabs li {
    width: 50%;
}
.sign-in-container .nav-tabs li:first-of-type a{
    border-radius: 5px 0 0 0;
}
.sign-in-container .nav-tabs li:last-of-type a{
    border-radius: 0 5px  0 0;
}
.sign-in-container .nav-tabs li.active a {
    background-color: #007bff;
}